{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        clj-wrap-indent/clj-wrap-indent {:mvn/version "1.0.0"}
        clj-commons/clj-yaml {:mvn/version "1.0.28"}
        eigenhombre/namejen {:mvn/version "0.1.23"}
        org.clojure/core.match {:mvn/version "1.1.0"}}
 :aliases {:run {:main-opts ["-m" "ballomud.core"]}
           :build {:deps {io.github.clojure/tools.build
                          {:git/tag "v0.10.5"
                           :git/sha "2a21b7a"}}
                   :ns-default build}
           :test {:extra-paths ["test"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
                  :main-opts ["-m" "kaocha.runner"]}}}
